<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- Customize CSS -->
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
        
        <!-- JS -->
        <script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">

		<title>Burger App</title>
	</head>

	<body>
		{{{ body }}}
	</body>

</html>
